<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            crossorigin="anonymous"></script>
    <script src="/assets/js/weather3.js" defer></script>
</head>
<body>
<h1>Weather Report</h1>
<ul id="weather-container"></ul>
</body>
</html>